/* Styles for my Portal Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 42, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
}

main img {
    max-width: 50%;
}

nav {
    height: 60px;
    background-color: azure;
    line-height: 60px;
}

.wrapper {
    max-width: 1200;
    margin: 0 auto;
}


nav li {
    float: left;
    width: 16.66%;
    text-align: center;
    list-style-type: none;
    margin: bottom 20px;
}

a {
    text-decoration: none;
}

nav a {
    color: black;

}

aside a,
h1 a {
    color: azure;

}

aside ul {
    list-style-type: none;
}

aside li {
    padding-bottom: 5px;
}

main a {
    color: coral;
}

.right {
    float: right;
}

main {
    width: 62%;
    float: left;
    color: azure;
}

aside {
    width: 35%;
    float: right;
}

footer {
    height: 60px;
    line-height: 60px;
    background-color: coral;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

/* typography */
h1 {
    text-align: center;
    font-size: 3em;
    margin: 10px 0;
}

h2 {
    color: rgb(249, 247, 245);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

main h2,
aside h2 {
    text-align: left;
}

p {
    color: azure;
}