/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* min body height */

body {
    min-height: 100vh;
}



/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* end reset styles */


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation styling */

nav {
    width: 50vw;
    margin-left: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;


}

/* end navigation */

.inner-header {
    padding: 10px 5px;
}

#hero {
    height: 400px;
    background-color: #118686;
    margin: 30px 30px;
    border-radius: 5px;
}

main {
    height: 600px;
    background: aliceblue;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* form styles */
form {
    max-width: 580px;
    margin: 0 auto 20px auto;
}

input {
    display: block;
    width: 100%;
}

fieldset {
    padding: 10px;
}

.center {
    text-align: center;
    margin-bottom: 10px;

}

/* end form styles */

/* footer styles */
footer {
    width: 100%;
    background-color: black;
    padding-top: 30px;
    margin-top: 40px;
    padding-bottom: 3px;

}

footer ul {
    justify-content: space-evenly;
    display: flex;
}